<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a56117.domino" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CapturaActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PuntuacionActivity"
            android:label="@string/title_activity_puntuacion"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PuntosActivity"
            android:label="@string/title_activity_puntos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
